// colors
$blue: #4182BA;
$dark: #35495D;
$text: #333;
$dark-green: #40751C;
$green: rgb(160, 200, 60);
$light-green: rgb(190, 220, 100);
$danger: rgba(231, 68, 68, 0.9);
$gray: rgba(100, 100, 100, 0.8);
$shadow: rgba(0,0,0,0.26);


// fonts
$ff-normal: Verdana, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", メイリオ, Meiryo, sans-serif;
// $ff-accent: 'Noto Serif JP', serif; // google font